#lendview-container {
    width: 100%;
}

#lendview-container>h2 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgba(255,255,255,20%);
    padding-bottom: 5px;
}

.light #lendview-container>h2 {
    border-bottom-color: rgba(0,0,0,40%);
}


.dark #lendview-container>h2 {
    border-bottom-color: rgba(255,255,255,20%);
}